.fullscreen {
  /* background: url(images/bg.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.square {
  position: relative;
  /* background: red; */
  max-width: 360px;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coverSpace {
  position: relative;
  width: 100%;
  height: 100%;
  /* width: 100vw;
  height: 100vh; */
}

.coverSpace img {
  /* For object-fit to work, the image itself needs a width and height.  */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
